<!--business detail-->


<h1>{{ business.name }}</h1>
<ul>
	<li>Stars: {{business.stars}}</li>
	<li>Review_count: {{business.review_count}}</li>
	<li>Address: {{business.address}}</li>
	<li>City: {{business.city}}</li>
	<li>State: {{business.state}}</li>
</ul>

<h2>Comments: </h2>

<ul>
    {% if business.comment_set.count %}
	{% for comment in business.comment_set.all %}
		<li>{{comment.comment_text}}   -- by {{comment.user}} at {{comment.comm_date}}</li>
	{% endfor %}
    {% else %}
        <p>No comments for this business. Add one!</>
    {% endif %}
</ul>
